@import "vars/colors";
@import "vars/fonts";


body {
    background: $fonte-h2-transacoes;
    font-family: $regular;
}


.header {
    background: $fundo-header;

    padding: 4rem 0 8rem 0;

    h1 {
        color: $fonte-header;
        font-weight: 100;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.balanco{
    margin-top: -8rem;

    h2{
        color: $fonte-balanco;
    }

    h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card{
        background: $fonte-balanco;
        color: $fonte-card;

        &.total{
            background: $fundo-total;
            color: $fonte-balanco;
        }
    }
}

.transacoes{
    h2{
        color: $fonte-h2-transacoes;
    }

    a{
        color: $button-link;

        &:hover{
            color: $button-link-hover;
        }
    }

    table{
        color:$fonte-table-th;

        tbody tr{
            opacity: 0.7;

            &:hover{
                opacity: 1;
            }
        }

        th{
            background: $fonte-balanco;
        }
    
        td{
            background: $fonte-balanco;

            &.descricao{
                color: $fonte-h2-transacoes;
            }
            &.positivo{
                color: $fonte-positivo;
            }
            &.negativo{
                color: $fonte-negativo;
            }
        }
    }
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius:0 0.25rem 0.25rem 0;
}

footer{
    color: $fonte-h2-transacoes;
    opacity: 0.6;
}