$fundo: #c1e7a7;
$fundo-header: #2f5e1f;
$fonte-header: #fff;
$fonte-h2-transacoes: #363f5f;
$fundo-total: #49AA26;
$fonte-table-th: #969cb3;
$fonte-positivo: #12a454;
$fonte-negativo: #e92929;
$button-link: $fundo-total;
$button-link-hover: #3dd705;
$fonte-card: $fonte-h2-transacoes;
$fonte-balanco: $fonte-header;